{%extends 'html/navbarPadre.html' %}
{%load static%}
{% block content %}




    <section class="quienesomos container" >
        <div>
            <h1 class="titulo">¿Quienes Somos?</h1>
        </div>
        
        <p class="elcuento">Hola Sr cliente, un gusto que hayas visitado nuestra pagina, leyendo el nombre de nuestro local y
           todas las ricas promos que hay, te preguntaras ¿Quienes somos?
          Somos dos amigos que se conocieron en Duoc y gracias a lo aprendido quisimos
           hacer nuestro propio local de comida rapida.</p>

        <footer class="parteAbajo" style="width:100%;">
            <div class="contenidoEmpleados">
              <header>
                <img src="{% static 'img/Matias.jpeg'%}" alt="" class="losPerlas">
              </header>
              <h5 class="nombreIntegrante">Matías Pozo</h5>

            </div>
            <div class="contenidoEmpleados">
              <header>
                <img src="{%static 'img/Alonso.jpg'%}" alt="" class="losPerlas">
              </header>
              <h5 class="nombreIntegrante">Alonso Rozas</h5>

            </div>
        </footer>
    </section>
    {% endblock %}

