{%extends 'html/navbarPadre.html' %}
{%load static%}
{% block content %}




    <section class="quienesomos container" >
        <div class="titulo">
            <h1>¿Quienes Somos?</h1>
        </div>
        
        <p3>Hola sr cliente, un gusto que hayas visitado nuestra pagina, leyendo el nombre de nuestro local y
           todas las ricas promos que hay, te preguntaras ¿Quienes somos?
          somos unos dos amigos que se conocieron en el duoc y gracias a lo aprendido quisimos
           hacer nuestro propio local de comida rapida.</p5>

        <footer class="parteAbajo" style="width:100%;">
            <div class="contenidoEmpleados">
              <header>
                <img src="{% static 'img/Matias.jpeg'%}" alt="" class="losPerlas">
              </header>
              <h5>Matías Pozo</h5>

            </div>
            <div class="contenidoEmpleados">
              <header>
                <img src="{%static 'img/Alonso.jpg'%}" alt="" class="losPerlas">
              </header>
              <h5>Alonso Rozas</h5>

            </div>
        </footer>
    </section>

    {% endblock %}

