{% extends 'html/navbarPadre.html' %}
{% block content %}
<div>
    <h1>Listado ERS</h1>
    <ul>
      <li class="list-group-item">1. Botón de inicio</li>
      <li class="list-group-item">2. Carrusel de imágenes promocionales</li>
      <li class="list-group-item">3. Botón de nuestros productos</li>
      <li class="list-group-item">4. Card con los productos vendidos</li>
      <li class="list-group-item">5. Botón acerca de nosotros</li>
      <li class="list-group-item">6. Botón contactanos</li>
      <li class="list-group-item">7. Formulario de contacto</li>
      <li class="list-group-item">8. Validaciones en formulario</li>
      <li class="list-group-item">9. Botón de simulación de compra</li>
      <li class="list-group-item">10. Cálculo de compra</li>
      <li class="list-group-item">11. Compra de producto</li>
      <li class="list-group-item">12. Guardado de producto</li>
      <li class="list-group-item">13. Edición de producto</li>
      <li class="list-group-item">14. Descuento de stock del producto</li>
      <li class="list-group-item">15. API Clima</li>
  </ul>
  </div>
{% endblock %}