{% extends 'html/navbarPadre.html' %}
{% block content %}
    <div>
        <h1>Listado ERS</h1>
    <ul>
        <li class="list-group-item">1.  boton de inicio</li>
        <li class="list-group-item">2.  carrusel imagenes promocionales</li>
        <li class="list-group-item">3.  boton de nuestros productos</li>
        <li class="list-group-item">4.  card con los productos vendidos</li>
        <li class="list-group-item">5.  boton acerca de nosotros</li>
        <li class="list-group-item">6.  boton contactanos</li>
        <li class="list-group-item">7.  formulario de contacto</li>
        <li class="list-group-item">8.  validaciones en formulario</li>
        <li class="list-group-item">9.  boton de simulacion de compra</li>
        <li class="list-group-item">10. calculo de compra</li>
      </ul>
    </div>
{% endblock %}