{%extends 'html/navbarPadre.html' %}


{% load static %}

{% block content %}
  <div class="alert alert-warning" role="alert">
    <h6 style="text-align:center">bienvenido a camello's Food en donde encontraras lo mas rico <img src="{%static 'img/emoji rico.png'%}" alt="" height="20" ></h6>


      <!-- carrusel -->
      <div style="width: 100% ;" id="carouselExampleControls" class="carousel slide mx-auto" data-bs-ride="carousel" >
        <div class="carousel-inner">

          <div class="carousel-item active comboEstandar" >
            <img src="{% static 'img/papas.jpg'%}" height="600"class="d-block w-100 imagenesInicio" alt="..." >
            <p>¡Deliciosas Papitas del Camello!</p>
          </div>
          <div class="carousel-item" class="comboEstandar">
            <img src="{%static 'img/pizza.jpg'%}" height="600" class="d-block w-100 imagenesInicio" alt="..." >
            <p>Pizzas Deliciosas</p>
          </div>
          <div class="carousel-item" class="comboEstandar">
            <img src="{%static 'img/sandwich.jpg'%}" height="600" class="d-block w-100 imagenesInicio" alt="..." >
            <p>Unas Hamburguesas para chuparse los dedos</p>
          </div>
          <div class="carousel-item" class="comboEstandar">
            <img src="{% static 'img/Completo.jpg'%}" height="600" class="d-block w-100 imagenesInicio" alt="..." >
            <p>Completos Deliciosos</p>
          </div>
          <div class="carousel-item" class="comboBigcam">
            <img src="{%static 'img/Big camello.png'%}" width="600" height="600" class="d-block w-100 imgBigcamello" alt="...">
            <p>Y afirmen el camello ¡¡¡Porque esta esta deliciosa promo a solo $20.000!!!</p>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        
      </div>
      </div>

  
{%endblock%}