{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" type="text/css" href='{% static "estilos/Login.css" %}'>
</head>
<body>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        <input type="submit" value="Iniciar sesión">
    </form>
</body>
</html>
