{%extends 'html/navbarPadre.html' %}
{% load static %}
{% block content %}

<!--<a Seccion de promos </a>-->

  <br>
  <br>
  <br>
  <header class="encabezado container">
    <h1 style="text-align:center;" class="tituloCarta"> Nuestras Exquisitas Promos</h1>
    <img src="img_combos/emoji rico.png" alt="" class="emoji">
  </header>
      
      
      

       <!-- cartas -->
<div class="container">
  <div id =combos1 class="row container"> 
    {%for producto in listaProductosMain%}
    
    <div class="col-4">
        <div class="card mb-3" style="width: 100%;">
          <img src="{%static 'img/'%}{{producto.foto}}" class="img-thumbnail" alt="">
          <div class="card-body">
            <h5 class="card-title" name="idProducto">combo{{producto.id}}</h5>
            <p class="card-text"><h5 class="parrafoDesc" name="descProducto">{{producto.descripcion}}</h5></p>
            <p class="card-text"><small class="text-muted precio" name="precioProducto">{{producto.precio}}</small></p>
            <p class="card-text"><small class="text-muted" name="productoStock">{{producto.stock}}</small></p>
            <form action="{% url 'detalle' producto_id=producto.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="Detalle">
            </form>
            
          </div>
        </div> 
    </div>
    {%endfor%}  
  </div>
</div>

  
{%endblock%}